<div class="search-form">
  <form method="get" action="<%= search_path %>" class="search_container">
    <input type="text" name="keyword" size="60" placeholder="Search" class="text-field">
    <input type="submit" value="&#xf002">
  </form>
  <div class="recipe-results"></div>
</div>