<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="about">
        <div class="about-top">
          About
        </div>
        <div class="about-theme">
          手作りのお菓子とパンに囲まれた、あたたかい暮らしを。
        </div>
        <div class="about-head">
          「Sugarist（シュガリスト）」は自分だけの<br>とっておきのお菓子・パンのレシピをまとめられるウェブアプリです。
        </div>
        <div class="about-text mt-5">
          <div class="about-icon">
            <i class="fas fa-cookie-bite about-icon"></i>
          </div>
          <p>手作りの楽しさをもっと身近に感じて欲しいという想いから<br>シュガリストは生まれました。</p>
          <p>
            外に出ればお店に並ぶきらきら光るお菓子やパン。<br>今、街は手軽に買える美味しいもので溢れています。<br>
            でも、オーブンから漂う芳ばしい香り、<br>冷蔵庫を開くたびにちらりと見える待ち遠しさ、<br>焼き立てを頬ばる贅沢。<br>
            おうちで作るからこその<br>優しい美味しさと楽しさが手作りにはあります。
          </p>
          <p>
            そんなお菓子・パン作りを楽しむ方のために、<br>見つけたレシピを自分好みにアレンジしたり、<br>家族のために材料を替えたり、<br>
            想いのつまったとっておきレシピを<br>手軽にまとめられる場所があったらいいな、<br>という発想をもとに立ち上げました。
          </p>
          <p>
            クリエイティブな時間を楽しむ場として、<br>または「今日は何を作ろうかな」<br>と想像と食欲を膨らませる場として、<br>
            シュガリストの使い方はあなた次第。
          </p>
          <p>誰もがより自分らしく活用できるよう、<br>これからもSugaristをより良いものにしていきます。</p>
          <p>シュガリスト運営者　Yukino</p>
        </div>
      </div>
    </div>
  </div>
</div>