<div class="container mt-3">
  <div class="about-top">
    About
  </div>
  <div class="background-text mt-5">
    <p>このウェブアプリ製作のきっかけは、現在普及しているレシピサイトのレシピにユーザーが自分なりのアレンジを加えて製菓・製パンをしていることが多いと気付いたことでした。</p>
    <p>各レシピのコメント欄で、「甘さ控えめで作ってみました」や「バターをオイルに変えてアレンジしてみました」などの投稿が多く、そのアレンジを個人用に保存しておく場所があったらいいなと考えました。</p>
    <p>私を含め多くの人が紙のノートでレシピ集を作っていますが、オンラインでいつでも素早く自分のレシピを閲覧できることで、買い出し中に携帯から材料を確認できるなど、紙には無い便利な点があり、このサイトを作る意義があると思いました。</p>
    <p>また、新型コロナウイルスのため、人々が家で過ごす時間が増え、製菓、製パンをする人が増えたこともこのテーマを選んだ背景の一つです。</p>
    <p>私のように以前からお菓子・パン作りをしていた方も、今回のパンデミックがきっかけで始めた方も、自分で作る楽しさをもっと身近に感じて欲しいという想いから「Sugarist（シュガリスト）」を製作しました。</p>
  </div>
</div>