<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
  </div>
  <div class="slide-text">
    <p>Welcome to Sugarist</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary nav-signup" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary nav-signin" %>
  </div>
</div>

<div class="container">
  <div class="theme mt-5 mb-5">
    お菓子・パン作りをするあなたの「自分だけのレシピ集」
  </div>
</div>

<div class="container how-to-use">
  <div class="row">

    <div class="col-md-4 how-to-use-block mx-auto">
      <div class="write px-4">
        <div class="how-to-use-title">書く</div>
          <div class="how-to-use-text">
          <ul>
            <li>お気に入りのレシピをマイページに保存して、<br>レシピを忘れない、無くさない</li>
            <li>既存のレシピに自分好みのアレンジを加えて、いつでも編集</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 how-to-use-block mx-auto">
      <div class="find px-4">
        <div class="how-to-use-title">見つける</div>
        <div class="how-to-use-text">
          <ul>
            <li>ジャンルに分けられたレシピの中から、その日の気分や目的によってレシピを探せる</li>
            <li>キーワード検索で欲しいレシピをすぐに見つける</li>
            <li>閲覧数トップ5でリピートレシピが一目瞭然。</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 mx-auto">
      <div class="bake px-4">
        <div class="how-to-use-title">作る</div>
          <div class="how-to-use-text">
            <ul>
              <li>作った後の感想や家族の反応をメモ欄に記録</li>
              <li>大好きなレシピはハートをクリック</li>
            </ul>
          </div>
      </div>
    </div>

  </div>

</div>