<div id="container">
  <div class="position-relative">
    <div id="theTarget" class="position-absolute" style="width: 100%; height: 50vw;">
        <div class="image1"></div>
        <div class="image2"></div>
    </div>
    <div class="position-absolute" style="width: 100%; height: 50vw;">
      <div class="w-100 h-100 d-flex align-items-center">
        <div class="d-block" style="margin-left: 10vw;">
          Welcome to Sugarist<br>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="theme mt-5 mb-5">
  お菓子・パン作りをするあなたの「自分だけのレシピ集」
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="write">
        <div class="how-to-use">書く</div>
          <div class="how-to-use-text">
          <ul>
            <li>お気に入りのレシピをマイページに保存して、</br>レシピを忘れない、無くさない</li>
            <li>既存のレシピに自分好みのアレンジを加えて、</br>いつでも編集できる。</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="find">
        <div class="how-to-use">見つける</div>
        <div class="how-to-use-text">
          <ul>
            <li>「焼菓子」「冷菓子」などのジャンルに分られたレシピの中から、その日の気分や目的によってレシピを探せる</li>
            <li>キーワード検索で欲しいレシピをすぐに見つけられる。</li>
            <li>閲覧数の数の多いものをトップに表示させることでリピートレシピが一目瞭然。</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="bake">
        <div class="how-to-use">作る</div>
          <div class="how-to-use-text">
            <ul>
              <li>各レシピにあるメモ欄に、作った後の感想や次回への注意点を書き足せるから「また作りたい」を促進する。</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h4>今すぐ始める</h4>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
