<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
  </div>
  <div class="slide-text">
    <p>Welcome to Sugarist</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <div class="theme mt-5 mb-5">
    お菓子・パン作りをするあなたの「自分だけのレシピ集」
  </div>
</div>

<div class="container how-to-use">
  <div class="row ml-5" >

    <div class="col-md-3 how-to-use-block">
      <div class="write">
        <div class="how-to-use-title">書く</div>
          <div class="how-to-use-text">
          <ul>
            <li>お気に入りのレシピをマイページに保存して、</br>レシピを忘れない、無くさない</li>
            <li>既存のレシピに自分好みのアレンジを加えて、</br>いつでも編集できる。</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 how-to-use-block">
      <div class="find">
        <div class="how-to-use-title">見つける</div>
        <div class="how-to-use-text">
          <ul>
            <li>「焼菓子」「冷菓子」などのジャンルに分られたレシピの中から、その日の気分や目的によってレシピを探せる</li>
            <li>キーワード検索で欲しいレシピをすぐに見つけられる。</li>
            <li>閲覧数の数の多いものをトップに表示させることでリピートレシピが一目瞭然。</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 how-to-use-block">
      <div class="bake">
        <div class="how-to-use-title">作る</div>
          <div class="how-to-use-text">
            <ul>
              <li>各レシピにあるメモ欄に、作った後の感想や次回への注意点を書き足せるから「また作りたい」を促進する。</li>
            </ul>
          </div>
      </div>
    </div>

  </div>

</div>