/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick-theme";
@import "slick";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field {
  boder: 0;
  outline: 0;
  font-weight: 400;
  font-size: 16px;
  background: transparent;
  boder-bottom: 2px solid #503629;
  padding: 8px 0;
  width: 30%;
}

.navbar {
  background-color:#f3f0ec;
}

.logo {
  font-family: 'Playfair Display', serif;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}


footer {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #f3f0ec;
  margin-top: 50px;
}

footer-text {
  color: #fff;
}

// .carousel {
//   height: 600px;
// }
// .carousel-inner, .item {
//   height: 100%;
//   position: relative;
// }
// .carousel .image {
//   width: 100%;
//   height: 100% !important;
//   background-size: contain;
// }
// .cover-text {
//   position: absolute;
//   padding: 50px;
//   font-size: 50px;
//   color: white;
//   z-index: 1; /* ADD */
// }

// .badge-original {
//   color: #fff!important;
//   background-color: #F6B22C;
// }

a, a:hover {
  color: #000!important;
}

// ボタンカラー
.btn-primary {
    color: #362222 !important;
    background-color: #f3f0ec !important;
    border-color: #f3f0ec!important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #362222!important;
    background-color: #E6DDC6!important;
    border-color: #E6DDC6!important;
}

// ページネーション
.pagination {
  justify-content: center;
}

// .pagination>li {
//   border-radius: 15px;
// }

// .pagination>li>a {
//   border: none;
//   color: black;
//   border-radius: 15px !important;
// }

// .pagination>.active>a {
//   background-color: #343A40 !important;
//   border-radius: 15px;
//   overflow: hidden;
// }

// .pagination>li>a:hover {
//   color: black;
//   background-color: #f3f0ec;
// }

// トップページ

// スライドショー
#container{
  height: 600px;
  position: relative;
  display: flex;
}

.image1 {
  background-image: image-url("image1.jpg");
}

.image2 {
  background-image: image-url("image2.jpg");
}

.slide-text {
  font-size: 40px;
  position: absolute;
  text-align: center;
  color: white;

}


.theme {
  font-size: 30px;
  text-align: center;
}

.how-to-use {
  font-size: 26px;
  text-align: center;
}

.how-to-use-text {
  line-height: 30px;
}


// About
.about-top {
  font-size: 30px;
  text-align: center;
}

// Home
.slick-prev:before, .slick-next:before {
    color: #f3f0ec;
    opacity: 1;
    z-index: 1;
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #f3f0ec;
  color: #FFF;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 30%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  font-size: 20px;
}

.btn-circle-flat:hover {
  background: #f3f0ec;
}

// ジャンル検索
.sidebar {
  background-color: #f3f0ec;
  padding:10px;
}

// recipe index
.items {
  // display: inline-flex;
  // justify-content: flex-start;
  // margin: 30px;
}

.items > a > img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

// recipe show
.recipe-headding {
  text-align: center;
  fontsize: 36px;
  line-height: 40px;
}

.recipe-details {
  padding: 15px;
  border-top: 1px solid #c5b9a0;
}

.detail {
  font-size: 1.2rem;
  color: #a3865b;
  margin: right;
}

.tag-list {
  border-top: 1px solid #c5b9a0;
  border-bottom: 1px solid #c5b9a0;
  padding: 15px 0;
  color: #a3865b;
}

.recipe-ingredients {
  line-height: 32px;
}

.method {
  line-height: 32px;
}